:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  --font-size--small: 1.4rem; /* 14px */
  --font-size--default: 1.6rem; /* 16px */
  --font-size--large: 2.4rem; /* 24px */
  --background-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10%;
  min-height: 100vh;
  font-family:  -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: var(--font-size--default);

}

h1 {
  padding-bottom: 2%;
  color: rgb(101,112,139);
  letter-spacing: 0.2px;
}

a {
  position: relative;
  font-weight: 500;
  color: rgba(44, 85, 221, 0.9);
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -0.5px;
  left: 0;
  background-color: rgba(44, 85, 221, 0.9);
  visibility: hidden;
  transition: all 0.3s ease-in;
}

a:hover:before {
  visibility: visible;
  width: 100%;
}
